<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <title>LeanCloud / Wechat / Express.js </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    
    <div class="leancloud">
        <h2>正常数据存储、读取</h2>
        <button id="getRequest">get Request</button>
        <button id="postRequest">post Request</button>
        <br />
    </div>
    <div class="wechat">
        <h2>微信 SDK 相关操作</h2>
        <p>以下操作请在微信或者开发者工具里完成</p>
        <button id="chooseImage">选择图片</button>
        <button id="uploadImage">上传到 LeanCloud</button>
        <br />
        <img id="preview" src="" alt="" style="width: 200px; height: 200px" />
    </div>

    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    var access_token = '<%= access_token %>';
    wx.config({
        debug: true,
        appId: '<%= wechat.appId %>',
        timestamp: '<%= wechat.timestamp %>',
        nonceStr: '<%= wechat.nonceStr %>',
        signature: '<%= wechat.signature %>',
        jsApiList: ['chooseImage', 'uploadImage', 'downloadImage', 'onMenuShareAppMessage', 'onMenuShareTimeline']
    });
    </script>
    <script src="/javascripts/main.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-*-*', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
